<button data-sort='{"key":"name"}'>sort name</button>
<button data-sort='{"key":"age"}'>sort age</button>

<button data-filter='{"key":"name","val":"luke"}'>filter name</button>
<button data-filter='{"key":"age","val":26}'>filter age</button>

<button data-reset>Reset</button>