<form>
  <label>
    <span>Email Address</span>
    <input type="text" placeholder="someguy@gmail.com" />
  </label>
  <label>
    <span>Username</span>
    <input type="text" placeholder="someguy123" />
  </label>
  <label>
    <span>Password</span>
    <input type="text" placeholder="" />
  </label>
</form>
<span class="error"></span>
<button type="submit">Register</button>
<a class="login" href="/login">Exising Members Login</a>
