<form>
  <label no-text>
    <span>Email Address</span>
    <input type="text" name="email" placeholder="Email Address" />
  </label>
  <label no-text>
    <span>Username</span>
    <input type="text" name="username" placeholder="Username" />
  </label>
  <label no-text>
    <span>Password</span>
    <input type="password" name="password" placeholder="Password" />
  </label>
  <button type="submit">Register</button>
</form>
<span class="error"></span>
<a class="login" href="/login">Exising Members Login</a>
