<form>
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
</form>
<span class="error"></span>
<button type="submit">Login</button>
<a class="register" href="/register">New Members Register</a>
