@import "!resolve(app/mixins.scss)";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dialog {
	background: rgba(0,0,0,0.5);
	border: 0;
	display: flex;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	overflow-y: auto;
	> * {
		margin: auto;
		width: 25rem;
	}
	&:empty { z-index: -1; }
}
svg {
  max-width: 100%;
  preserveAspectRatio: none;
}

//-------------------------------
// Document
//-------------------------------

* {
	box-sizing: border-box;
	background: dark(0);
	width: 100%;
}

html {
  font-size: calc(10px + .5vw);
  background: #fff;
}

body {
  margin: 0 auto;
  background: dark(0);
}

button,
input {
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 1px solid dark(2);
  background: dark(0.5);
  outline: none;
  max-width: 35ex;

  &[compact] {
    font-size: 1rem;
    padding: 1rem;
  }

  &[relaxed] {
    font-size: 2rem;
    padding: 2rem;
  }
}

label {
  @include stack(col, .5rem);
  max-width: 35ex;
  font-size: 1.5rem;

  &[no-text] {
    @include stack(col);
    span {
      display: none;
    }
  }

  &[compact] {
    font-size: 1rem;
  }

  &[relaxed] {
    font-size: 2rem;
  }
}
